
body {
  color: #fff;
  /* background-image: linear-gradient(-135deg, #7BC4DA 0%, #4E5ABE 100%);
  background-image: linear-gradient(-135deg, #363256 0%, #4C4B78 92%);
  background: #363256 rgba(94,110,220,0.50); */
}
.forms {
  padding-left: 10px;
} 
html {
  scroll-behavior: smooth;
}

.preloader1 {
  position: relative;
  z-index: 10;
}

.contfor {
  position: relative;
  z-index: 1;
}

.vid {
  position: relative;
  text-align: center;
  z-index: 100;
}

.btn {
  position: relative;
  z-index: 5;
}

.navbar {
  position: fixed;
  z-index: 5;
}

.mid2 {
  width: 100vw;
  height: 70%;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.mb-5 {
  position: relative;
  z-index: 5;
}

CSS Document */
.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

span {
  display: inline-block;
}

.ml6 .letter {
  line-height: 1em;
}

.ml6 .letter1 {
  line-height: 1em;
}

body {
  width: 100%;
}

.fin {
  width: 100%;
}

@-webkit-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}

@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}

.progress {
  position: relative;
  padding: 0;
  text-align: center;
}

.progress > li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #93A2AC;
  font-family: Lato;
  font-weight: 100;
  margin-left: 5vw;
}

.progress > li:before {
  content: attr(data-name);
  position: absolute;
  width: 100%;
  bottom: 2rem;
  font-weight: 400;
}

.progress > li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: 3.7rem;
  left: 0;
  font-size: 2rem;
  text-align: center;
}

.progress svg {
  width: 10rem;
  height: 10rem;
}

.progress svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.progress svg:nth-child(2) path {
  fill: none;
  stroke-width: 25;
  stroke-dasharray: 629;
  stroke: #fff;
  opacity: .9;
  -webkit-animation: load 10s;
  -moz-animation: load 10s;
  animation: load 10s;
}

.d-flex {
  width: 100%;
  text-align: left;
  height: 140%;
  
}

.med {
  width: 100%;
  height: 70%;
}

.fin {
   width: 100vw;
   height: 70%;
}

.word {
  font-family: 'Anton', sans-serif;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 200px 40px;
  -moz-perspective-origin: 200px 40px;
  perspective-origin: 200px 40px;
}

.word span {
  cursor: pointer;
  display: inline-block;
  /* font-size: 4rem */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: .8;
}

.word span:nth-child(1).active {
  -webkit-animation: balance 1.5s ease-out;
  -moz-animation: balance 1.5s ease-out;
  animation: balance 1.5s ease-out;
  -webkit-transform-origin: 0% 100% 0px;
  -moz-transform-origin: 0% 100% 0px;
  -ms-transform-origin: 0% 100% 0px;
  -o-transform-origin: 0% 100% 0px;
  transform-origin: 0% 100% 0px;
}

@-webkit-keyframes balance {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  30%,
  60% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@-moz-keyframes balance {
  0%,
  100% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  30%,
  60% {
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

@keyframes balance {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  30%,
  60% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.mid3 {
  width: 100%;
  height: 70%;
}


.fixed {
  position: fixed;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.active {
  float: left;
}

.style1 {
  font-family: serif;
  text-align: left;
}

@media (min-width: 1200px) {
  .style2 {
    margin-top: 2.5rem;
    background-color: #fff;
    border-width: 42px 42px 42px 0px;
    border-style: none none none solid;
  }
  .style9 {
    text-align: center;
  }
  .d-flex {
    border-width: 0px 0px 71px;
    border-style: solid solid none;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
  }
  .style10 {
    -webkit-border-top-left-radius: 100px;
    -moz-border-radius-topleft: 100px;
    border-top-left-radius: 100px;
  }
  .style11 {
    /* text-align: right */
    /* float: left */
    text-align: center;
    width: 25rem;
    height: 25rem;
    direction: ltr;
    -webkit-background-size: auto auto;
    -moz-background-size: auto;
    background-size: auto;
    margin-top: 10vw;
    margin-left: 10vw;
    padding-top: 0px;
  }
  .style7 {
    color: #121111;
    font-size: 2vw;
  }
  .style16 {
    color: #0d0c0c;
  }
  .style17 {
    color: #0f0e0e;
  }
  .style19 {
    width: 4rem;
    font-size: 2.5rem;
  }
  .style6 {
    color: #242222;
  }
  .med {
    width: 100vw;
  }
  .fin {
    width: 100vw;
  }
  .style22 {
    color: #171515;
    text-align: center;
    font-weight: bold;
  }
  .style21 {
    width: 6vw;
    height: 6vw;
    margin-left: 10vw;

  }
  .style25 {
    color: #1d809f;
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
  .style28 {
    text-transform: capitalize;
    color: #343a40;
    margin-bottom: 3rem;
  }
  .style29 {
    color: #6610f2;
  }
  .style30 {
    margin-left: 2vw;
  }
  .style31 {
    position: absolute;
  }
  .style32 {
    float: left;
  }
}

@media (min-width: 992px) {
  .style3 {
    text-align: left;
  }
  .style4 {
    font-family: sans-serif;
  }
  .style5 {
    background-color: rgba(163, 151, 151, 0);
    color: #c5cdd4;
  }
  .style6 {
    font-size: 4.5rem;
    margin-bottom: 2rem;
    color: #0f0e0e;
  }
  .style7 {
    font-size: 3vw;
  }
  .style8 {
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .style11 {
    margin-left: 10vw;
  }
  .style12 {
    font-size: 5.5rem;
  }
  .style15 {
    color: #141313;
  }
  .style17 {
    color: #121111;
  }
  .style16 {
    color: #0d0c0c;
  }
  .style19 {
    font-size: 2rem;
  }
  .style21 {
    width: 12vw;
    height: 12vw;
    margin-left: 10vw;
  }
  .style24 {
    color: #080707;
    font-weight: bold;
    text-align: center;
  }
  .style26 {
    text-align: center;
  }
  .style25 {
    color: #1d809f;
    text-align: center;
  }
  .progress {
    text-align: center;
    position: relative;
  }
  .style27 {
    padding-left: 4.8vw;
  }
}

@media (min-width: 768px) {
  .style11 {
    -webkit-background-size: auto auto;
    -moz-background-size: auto;
    background-size: auto;
    /* width: 20vw */
    /* height: 20vw */
    /* font-size: 40vw */
    /* line-height: 30vw */
    /* text-align: left */
    width: 40vw;
    height: 40vw;
    text-align: left;
    margin-left: 10vw;
  }
  .style7 {
    font-size: 3vw;
  }
  .style15 {
    color: #0a0909;
  }
  .style17 {
    color: #0f0f0f;
  }
  .style16 {
    color: #0d0c0c;
  }
  .style6 {
    color: #0f0e0e;
  }
  .style21 {
    width: 30vw;
    height: 30vw;
    margin-left: 10vw;
  }
  .style23 {
    color: #1a1818;
  }
  .style28 {
    color: #343a40;
  }
  .style29 {
    color: #6610f2;
  }
  .style33 {
    direction: ltr;
  }
}

@media (min-width: 576px) {
  .style11 {
    width: 60vw;
    height: 60vw;
    width: 40vw;
    height: 40vw;
    margin-left: 10vw;
  }
  .style7 {
    color: #0f0f0f;
    font-size: 2rem;
  }
  .style16 {
    color: #0a0a0a;
  }
  .style17 {
    color: #0a0a0a;
  }
  .style6 {
    color: #0f0e0e;
  }
  .style21 {
    width: 30vw;
    height: 30vw;
    margin-left: 10vw;
  }
  .style23 {
    color: #080707;
  }
}

.style11 {
  /* width: 60vw */
  /* height: 60vw */
  width: 40vw;
  height: 40vw;
  margin-left: 10vw;
}




.style13 {
  font-size: 2rem;
  color: #fff;
}

.style14 {
  color: #fff;
}

.style7 {
  color: #121111;
  margin-bottom: 1rem;
}

.style17 {
  color: #0a0a0a;
}

.style16 {
  color: #0f0f0f;
}

.style18 {
  padding-bottom: 2vw;
}

.style20 {
  border-bottom-width: 3vw;
  border-bottom-style: solid;
}

.style6 {
  color: #0f0e0e;
}

.style21 {
  width: 20vw;
  height: 20vw;
  margin-left: 10vw;
}

.style23 {
  color: #1c1a1a;
}

.style25 {
  font-size: 2rem;
  color: #1d809f;
  text-align: center;
  margin-bottom: 2vw;
}


@media (min-width: 360px ) {
  .style7 {
    font-size: 1rem;
  }
  .style21 {
    width: 15rem;
    height: 15rem;
  }
}

.style29 {
  color: #007bff;
}

.style28 {
  color: #343a40;
}

